/* variables */
:root{
    --font-primary: 'lato', sans serif;
    --font-heading: 'Poppins', sans-serif;
    --font-emphaize: 'PT serif', serif;

    --color-text: #1c263d;
    --color-text-light: #eee;
    --color-text-muted: #6c757d;
    --color-text-extra-muted: #999;
    --color-grey: #333;
    --color-dark-bg: #00293f;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=PT+Sans:ital@1&family=Poppins:wght@300;700&display=swap');

/* base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 16;
}

h1,h2,h3,h4{
    font-family: var(--font-heading);
    font-weight: 700;
    color:#444;
}
.section-heading{
    font-size: 40px;
    margin-bottom: 16px;
    max-width:763px;
    text-align: center;
}

/* utils */
.container {
    /* border: 2px dashed black; */
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
  }
  @media (min-width: 768px) {
    .container {
      width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 900px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .container-divider {
    background: #cfd6e0;
    height: 1px;
    overflow: hidden;
  }
.btn{
    border: 1px solid;
    border-radius: 4px;
    cursor:pointer;
    font-size: 18px;
    font-weight: 700;
    min-height: 46px;
    line-height: 46px;
    padding: 0 32px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}
.btn--empty {
    background-color: transparent;
    color: white;
    border-color: white;
  }
  
.btn--white {
    background: #fff;
    color: #001927;
}
  
.btn--large {
    min-width: 320px;
    border: 1px solid #1e7b85;
}
  
.hamburger span {
    width: 18px;
    height: 2px;
    /*background-color: black;*/
    display: block;
    margin-top: 4px;
}
  
.hamburger--light span {
    background-color: white;
}
  
.hamburger--cross span:first-child {
    transform-origin: center center;
    transform: rotate(-45deg);
}
  
.hamburger--cross span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
  
.hamburger--cross span:last-child {
    transform-origin: center center;
    margin-top: -8px;
    transform: rotate(45deg);
}
/* Header */
.site-header{
    background-color: var(--color-dark-bg);
    min-height: 52px;
}
.site-header__logo {
    margin-left: 16px;
  }
  
 .site-header__logo-image {
    height: 26px;
}
  
.site-header--hide {
    opacity: 0;
    transition: all 1s ease-in-out;
}
  
.site-header__signin {
    margin-left: auto;
}
  
/* sidebar */
.sidebar {
    position: absolute;
    width: 300px;
    height: 100vh;
    background: black;
    margin-left: -300px;
    top: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .sidebar.active {
    margin-left: 0;
  }
  
  .sidebar ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 20px 24px;
  }
  
  .sidebar__toggle-sidebar {
    position: absolute;
    top: 30px;
    right: 30px;
  }
/* hero */
.hero {
    height: 416px;
    z-index: -1;
    background-image: url(https://s-f.scribdassets.com/webpack/assets/images/hero_banner/1190_en@2x.fd85dc5e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .hero__container {
    height: 100%;
  }
  
  .hero__title {
    font-family: var(--font-heading);
    font-size: 28px;
    color: var(--color-text-light);
    max-width: 600px;
    margin-bottom: 16px;
  }
  
  @media (min-width: 768px) {
    .hero__title {
      font-size: 46px;
    }
  }
  
  .hero__subtitle {
    font-family: var(--font-empasize);
    font-size: 22px;
    margin-bottom: 32px;
  }
  
  .hero__under-btn {
    margin-top: 12px;
  }

  /* features*/
.features-box__title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__description{
    font-size:120%;
    color:var(--color-text-muted);
    margin-bottom: 32px;
    max-width: 763px;
    text-align: center;
}
.features-box__list{
      display:flex;
      flex-direction: column;
}
@media  (min-width: 768px){
  .features-box__list {
    flex-direction: row;
    padding-bottom: 7%;
  }
}
.features{
    padding: 54px 0px;
}
.feature-box{
    display: flex;
    flex-direction: column;
    padding:16px;
}      
.features-box__img{
    width:88px;
    height:64px;
    margin-bottom: 24px;
}
.features-box__img img,
.features-box__img a {
  width: 100%;
  height: 100%;
}
.features-box__body-title {
    font-weight: 600;
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: 16px;
}  
.features-box__body-description {
    color: var(--color-text-extra-muted);
    margin-top: 8px;
}

/* feature quote */
.feature-quote{
    background-color: #fafbfd;
    display: flex;
    justify-content: center;
}
.feature-quote__container{
    margin:64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-quote__quote{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: initial;
    position:relative;
    max-width:710px;
}
.feature-quote__quote-para{
    font-size:24px;
    font-style: italic;
    font-weight: 600;
    max-width:588px;
    padding-bottom:16px;
    text-align:center;
    font-family: var(--font-emphaize);
}
.feature-quote__quote-cite{
    font-size: 18px;
    font-style: normal;
    font-weight:400;
    color: var(--color-text-muted);
}
/* Best-books */
.best-books{
  background-color: #003458;
  color:#eee;
  padding: 54px 0;
}
.best-books__container{
  display: flex;
  flex-direction: column;
}
.best-books__title .section-heading{ 
  color: #eee;
}
.best-books__list-items{
  display:flex;
  flex-direction: row;
  max-width:876px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.best-books__list-items li{
  list-style: none;
  height:120px;
  width:auto;
  margin:4px;
}
.best-books__list-items li img{
  height:100%;
  width:auto;
}
.best-books__list-items li a{
  height:100%;
  width:auto;
}
.best-books_free-trail{
  margin-top: 32px;
}

/* Featured data statistic */
.data-statistic__container{
  padding:54px 0;
  justify-content: space-between;
  flex-direction: column;
  gap:32px;
}
@media (min-width: 768px){
  .data-statistic__container{
    flex-direction: row;
    gap:auto;
  }
}
.data-statistic__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data-statisic h4{
  font-size:42px;
  font-weight: 600;
  font-family: var(--fonnt-emphasize);
}
.data-statisic p{
  color:var(--color-text-extra-muted);
  text-transform: uppercase;
  font-size: 20px;
}
/*Category section*/
.category-section{
  background-color: #f8f9fd;
  border-top: 1px solid #e9edf8;
  border-bottom: 1px solid #e8edf8 ;
}
.category-section__container{
  justify-content: center;
}  
.category-section__title .section-heading{
  margin: 32px 0;
}
/* book card list*/
.card-list-wrapper{
  display: flex;
  justify-content: center;
}
.card-list{
  display: grid;
  gap:20px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width:680px;
  margin:54px 0;
}

/*card*/
.card{
  display:grid;
  gap:4px 16px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
}
.card__img{
  height:108px;
  width:108px;
  object-fit: cover;
  grid-column: 1/2;
  grid-row: 1/4;
}
.card__title{
  font-size:20px;
  text-decoration: none;
  font-weight: 700;
  color:var(--color-text);
}
.card__description{
  color:var(--color-text-muted);
}
.card__author{
  color:var(--color-text-extra-muted);
  text-decoration: none;
}
/*Book Details*/


